@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Share+Tech&display=swap');

:root {
    --primary-cl: #0c0c2d;
    --secondary-cl: #dccece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech', sans-serif;
}

body {
    background-color: var(--primary-cl);
    color: var(--secondary-cl);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

// .course {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     .box {
//         height: 200px;
//         width: 200px;
//         background-color: black;
   
//     }
// }